# Telegram Bot Token
TELEGRAM_TOKEN=7306291870:AAEeSFKhyQvQLSN79lMdRaLlUdHiaTz0vc4

# PayPal Credentials
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_SECRET=your-paypal-secret

# M-Pesa Credentials
MPESA_CONSUMER_KEY=9uslAsrMkmMj9s8Eoqo6l9xa89G0tKObWYeJag5ZqDzmhL77
MPESA_CONSUMER_SECRET=2lRrFcTHuzYAHTrjTurP6MfYOYV49gDN0AkXibGpMZ2kX8K4loha1UZUDa3dA2OC

# Webhook URLs
WEBHOOK_URL=https://api.telegram.org/bot7306291870:AAEeSFKhyQvQLSN79lMdRaLlUdHiaTz0vc4/setWebhook?url=https://moviepeddler-bot.onrender.com/webhook

# Airtable Credentials
AIRTABLE_API_KEY=pat7jw1sXHGG9r6Uy.ebd12940bc130d62a2a7401ea0459b4f4f9fe4781ae52a8d843ffaefc91eb2b6
AIRTABLE_BASE_ID=appmm2U1nQ3dXDEzr

# Port for the server
PORT=3000
